/* .studentListWrapper{
    border: 1px solid wheat;
    margin: 20px;
    border-radius: 20px;
    background-color: #191c24;
    color: white;
    font-style: oblique;
 
}
table{
    padding: 0 120px;
    border: 1px solid green;
   

} */
.studentListWrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.tableWrapper{
    width: 80%;
    overflow-x: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }

  thead tr {
    background-color: coral;
    color: white;
  }

  thead th {
    padding: 12px;
    font-weight: bold;
    text-align: center;
  }
  tbody tr:nth-child(even) {
    /* background-color: #f9f9f9; */
  }

  tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: white;
    text-align: center;
  }
  
  tbody tr:hover {
    /* background-color: #f9f9f9; */
    background-color: #191c24;
    /* color: black; */
  }
  button {
    margin-right: 5px;
    padding: 5px 10px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:focus {
    outline: none;
  }
  
  td:last-child {
    display: flex;
    justify-content: center;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination .active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
  }
  

  /* Container for the filters */
.filterWrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;

}

/* Search Input Styling */
.filterWrapper input[type="text"] {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 200px;
  outline: none;
  transition: border-color 0.3s ease;
}

.filterWrapper input[type="text"]:focus {
  border-color: #007bff; /* Highlight color */
}

/* Select Dropdown Styling */
.filterWrapper select {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filterWrapper select:focus {
  border-color: #007bff;
}

/* Optional: Add hover effect for better user experience */
.filterWrapper select:hover,
.filterWrapper input[type="text"]:hover {
  border-color: #007bff;
}
